body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Navbar style rules */
.logout-button {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-brand-app-logo {
  width: 100px;
  height: auto;
}

.navbar-logged-in-user-avatar {
  width: 25px;
  height: auto;
}

.logout-button:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

/* Home page style rules */
.home-tab-menu .tab-options:hover {
  background-color: lightgray;
  cursor: pointer;
}

.home-tab-menu .active {
  background-color: silver;
}

/* Leaderboard page style rules */
.user-score-container {
  min-height: 96%;
  height: 96%;
}

.user-score-label {
  min-height: 25%;
  height: 25%;
}

.user-score-value {
  min-height: 50%;
  height: 50%;
}
